.container{
	margin-top: 5em;
}
h1{
	color: white;
}
.top{
	margin-top: 6em;
	margin-left: 1em;
}
.jumbotron{
	width: 50%;
	margin-top: 2em;
	background-color: transparent;
}
.button{
	margin-top: 2em;
	margin-bottom: 1em;
	display: inline-flex;
}
.btn{
	font-size: 30px;
	width: 200px;
	background-color: transparent;
}
.btn-success{
	margin-left: 3em;
}
.btn-primary{
	margin-left: 4em;
}
body{
	background-image: url('https://images.pexels.com/photos/7109/laptop-notebook-clean-hero.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}